body {
  background-color: black;

  max-width: 1200px;


  color: white;

  align-content: center;

}

.back {
  background-image: url(file:///C:/web/PFI%20Web%20Mathieu%20Dubois/Images/girl5.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

/*Menu*/

ul {

  list-style-type: none;
  margin: 0%;
  overflow: hidden;

  background-color: rgba(38, 38, 38, 0.747);
  font-size: x-large;


  position: sticky;
  top: 0;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;

}

li a:hover {
  background-color: black;

}

a ::selection {
  color: black;
  background: white;
}




/*Structure colonne*/

/*page1*/
.header {


  text-align: center;
  font-size: 35px;
  background-image: url(file:///C:/web/PFI%20Web%20Mathieu%20Dubois/Images/girl7.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.colonne1 {
  float: left;
  width: 75%;
}

.colonne2 {

  float: right;
  width: 25%;
}

.imagecontent>img {
  height: 100%;
  max-width: 70%;
  padding: 10px;

}

.description h1 {
  font-family: 'Times New Roman', Times, serif;
}

.row1:after {
  content: "";
  display: block;
  clear: both;
}





.footer {

  padding: 40px;
  text-align: center;
}



img {
  max-width: 45%;

}

.pagination {
  display: inline-block;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;

  transition: background-color .3s;

}


.pagination a:hover:not(.active) {
  background-color: #ddd;
}



/* page2 */

div.pfp img {

  float: left;
  max-width: 10%;
  border: 4px solid rgba(169, 169, 169, 0.678);
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;


}






div.pfp:hover img {

  border: 4px solid white;
}

div.gallery {

  text-align: center;
  float: left;
  margin-left: 10%;
  margin-bottom: 10%;
  padding: 0%;



}

div.gallery:hover {
  background-color: white;
  padding: 0%;
  overflow: hidden;
  color: black;

}

div.gallery img {

  max-width: 300px;
  max-height: 225px;
  box-sizing: border-box;


}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* page3 */

.colonnecote {
  float: left;
  width: 25%;
  padding: 0%;

}

.colonnemid {
  float: left;

  width: 50%;

  padding: 0%;

}

.imagecontent2>img {
  opacity: 0.5;
  max-height: 100%;
  max-width: 90%;
  padding: 10px;

}

.imagecontent2:hover img {
  opacity: 1;

}








/* page 4 */

.header2 {


  text-align: center;
  font-size: 35px;
  background-image: url(file:///C:/web/PFI%20Web%20Mathieu%20Dubois/Images/shenyun/shen%20yun%201.jpg
);
  background-size: cover;
  padding: 10%;

  color: black;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

  grid-gap: 10px;

  border-bottom: 1px solid #ddd;


}

.grid-container div {


  padding-bottom: 10%;
  font-size: 25px;
  text-align: center;


  background-size: cover;

}



.grid-container>img {

  height: 100%;
  max-width: 100%;

  width: fit-content;


}

table {

  border-bottom: 1px solid rgba(255, 255, 255, 0.527);

  border-collapse: collapse;



}


th,
td {
  width: 60%;
  text-align: left;
  height: 70px;
  padding-left: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.527);
}

.divTable {
  overflow-x: hidden;
}

td:hover {
  background-color: #ddd;
  padding: 0%;
  text-align: center;
  position: static;
  color: black;
}


/*page 5*/




.header5 {
  padding: 20px;
  font-size: xx-large;
  text-align: center;
  background-image: url(file:///C:/web/PFI%20Web%20Mathieu%20Dubois/Images/architecture/cité.jpg);
  background-attachment: fixed;

}

.header5>img {

  max-width: 20%;
}

.coteDroit {

  flex: 25%;
  padding: 30px;
}


.imageZ {
  position: absolute;
  text-align: center;

  z-index: -1;
}




/*page 5 et 6*/

.header3 {
  padding: 40px;
  text-align: center;
  background-image: url(file:///C:/web/PFI%20Web%20Mathieu%20Dubois/Images/liziqi/lipfp.webp);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.row {
  display: flex;
  flex-wrap: wrap;

}

.coteGauche {

  flex: 25%;
  padding: 30px;

}

.central {
  flex: 25%;
  margin-top: 15px;
  padding: 15px;



}



.footer2 {
  padding: 40px;
  text-align: center;
  background-image: url(file:///C:/web/PFI%20Web%20Mathieu%20Dubois/Images/liziqi/lipfp.webp);
  background-repeat: no-repeat;

  background-size: cover;
  background-attachment: fixed;


}

.imageFlex>img {
  height: 100%;
  max-width: 100%;


}

@media screen and (max-width: 700px) {

  .row,
  body {
    flex-direction: column;

  }
}



div.pfp2 img {

  float: left;
  max-width: 10%;

  text-align: center;
  border-radius: 50%;
  margin-right: 10px;



}

.videoYt {
  position: fixed;
  top: 50%;
}

/*page7 / contact */



input[type=text],
select,
textarea {


  max-width: 60%;
  padding: 10px;
  border-radius: 5px;
  resize: vertical;

}

input[type=submit] {

  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;



}

label {
  padding: 10px 10px 10px 0;
  display: inline;
}


input[type=submit]:hover {
  background-color: grey;


}

.container {

  margin: 5%;
  border-radius: 5px;
  background-image: url(file:///C:/web/PFI%20Web%20Mathieu%20Dubois/Images/girl9.jpg);
  background-size: auto;

  padding: 20px;

  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Merriweather', serif;
}

h1,
h4 {

  font-family: 'Roboto', sans-serif;
}

h2,
h6 {
  font-family: 'Montserrat', sans-serif;
}

h3,
h5 {
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}


@media only screen and (max-width: 600px) {

  body {


    font-size: xx-large;

    text-align: center;
    line-height: normal;

  }

}


@media only screen and (max-width: 600px) {

  .colonne1,
  .colonne2,
  .gallery,
  .pfp,
  .central,
  .colonnecote,
  .colonnemid {

    float: left;
    width: 100%;


  }

}



@media only screen and (max-width: 850px) {

  body {

    font-size: xx-large;

    text-align: center;
    line-height: normal;

  }

}



@media only screen and (max-width: 1200px) {

  body {



    text-align: center;
    line-height: normal;

  }

}

@media screen and (max-width: 700px) {

  .colonne1,
  .colonne2 {
    float: none;


  }
}